@media screen and (max-width: 2000px) {
    .profile {
      height: 100vh;
      margin-bottom: 0rem;
    }

    #about{
      height: 100vh;
      flex-wrap: wrap;
    }

    #experience{
      height: 100vh;
    }

    #projects{
      height: 100vh;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }

  @media screen and (max-width: 1600px) {
    .text_section{
      font-size: 5rem;
    }

    .btn-cv{
      bottom: 28%;
    }

    #about{
      height: 150vh;
      flex-wrap: wrap;
    }

    .timeline-column .titre{
      margin-top: 8rem;
    }

    #experience{
      height:fit-content;
    }

    #projects{
      height: 100vh;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }

  @media screen and (max-width: 1023px) {

    .text_section{
      font-size: 3.5rem;
    }

    .parcour-pro{
      padding: 25%;
      justify-content: baseline;
      align-items: center;
    }

    .parcour-pro .timeline-row{
      column-gap: 2rem;
      flex-wrap: wrap;
      flex-direction: row;
    }

    #about{
      height: fit-content;
    }

    #experience{
      height: fit-content;
    }


    /* #about{
      display: flex;
    }
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    } */
  }