/* General */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin : 0;
  padding: 0;
}

body {
    background-color: #eeeeee;
    background-size: cover;
    font-family: "Work Sans", sans-serif;
    color: #F5E147;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62,5%;
}


.arrow {
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    width: 30px;
    transform:rotate(180deg);
  }

  .cursor{
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(42, 40, 40, 0.375);
    /* border: 2px solid rgba(53, 52, 52, 0.53); */
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background,transform;
    z-index:999999 !important;
    transform-origin: 100% 100%;
  }

  .link-grow{
    transform: scale(2);
    background: #ffe62980;
  }
/* Transition */

a, 
.btn{
    transition: all 300ms ease;
}

/* Navigation */

nav {
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  z-index: 100;
  position: fixed;
  align-items: center;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.logo{
  padding-left: 3rem;
  color: #2D2305;
  transition: color 0.4s ease-in-out;
}

.nav-links a {
    color: black;
    position: relative;
    text-decoration: none;
    text-decoration-color: white;
    transition: color 0.4s ease-in-out;
  }

  .nav-links a::after{
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 0;
    bottom: 0;
    left: 50%;
    background-color: #2D2305;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-links a:hover::after{
    width: 100%;
}

.nav-links.scrolled a{
  color: aliceblue;
}

.logo.scrolled{
  color: aliceblue;
}

.nav-links.scrolled a::after{
  background-color: #FFE629;
}


/* SECTIONS */

section {
  padding-top: 5rem;

  box-sizing: border-box;
  min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  /* #profile {
    display: flex;
    justify-content: center;
    gap: 6rem;
    height: 40px;
    background-color: rgb(231, 231, 21);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 500;
  }
  
  .section__text__p1 {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .section__text__p2 {
    font-size: 1.60rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    cursor: pointer;
    font-size: 200%;
  }

  #socials-container i:hover{
    transition: all 300ms ease;
    transform: scale(1.02);
  } */
  
/* BUTTONS */

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 8px;
    background: none;
    border: rgb(53, 53, 53) 0.1rem solid;
  }

  .btn:hover {
    cursor: pointer;
    border-color: #be9a23;
    transform: scale(1.02);
  }

  

  /* ABOUT SECTION */

  #about {
    background-color: #14120B;
  }
  
  #about h1{
    justify-content: left;
    position: relative;
    top: 8vh;
    padding-left: 2rem;
    font-size: 5rem;
  }


  .about-content{
    display: flex;
    position: relative;
    top: 5rem;
    justify-content: center;
  }

  .parcour-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 9%;
  }

  .parcour-pro .timeline-row{
    display: flex;
    column-gap: 8rem;
  }

  .timeline-column .titre{
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }


  .timeline-column .container-box{
    border-left: 0.2px solid #362B00;
    
  }

  .container-box .container-content{
    position: relative;
    padding-left: 2.7rem;
  }

  .container-box .container-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10.5px;
    width: 20px;
    height: 20px;
    background: #FFE629;
    border-radius: 50%;
  }

  .container-content .content{
    padding: 24px;
    border: 2px solid #362B00;
    border-radius: 8px;
    margin-bottom: 32px;
  }

  .content .btn{
    display: flex;
  }


  
   /* .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
    flex-direction: column;
  }
  
  .about-pic {
    border-radius: 1rem;
    font-size: 200%;
  }

  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }

  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  } */
  

  /* EXPERIENCE SECTION */

  #experience {
    background-color: #1B180F;
  }

  .exp-title{
    display: flex;
    justify-content: center;
    font-size: 6vh;
    font-weight: 600;
  }
  
  .exp-subtitle {
    display: flex;
    justify-content: center;
    color: #F5E147;
    font-size: 2.3rem;
    margin-bottom: 5rem;
    
  }
  
  .exp-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.6rem;
    width: 10rem;
    gap: 0.5rem;
    background: #14120B;
    border: #2D2305 0.12rem solid;
    text-align: center;
    transition: .5s ease;
    cursor: pointer;
    margin-bottom: 5rem;
  }

  article:hover{
    border-color: #fcd560;
    transform: scale(1.02);
  }
  
  article .icon {
    cursor: default;
    font-size: 150%;
  }

  /* Project Section */

   #projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14120B;
  }

  .project-title{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-weight: 600;
  }

  .card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .project_card{
    width: 325px;
    background-color: #836A21;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #14120B;
    overflow: hidden;
    transition: .5s ease;
    cursor: pointer;
  }

  .project_card img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card_content{
    padding: 20px;
    color: #14120B;
  }

  .project_card:hover{
    border-color: #fcd560;
    transform: scale(1.02);
  }

/* Veille section */

#veille{
  display: flex;
  justify-content: center;
  background-color: #14120B;
}

.veille{
  flex-direction: column;
  margin-bottom: 10rem;
}

.veille h1{
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: 600;
  margin-bottom: 5rem;
}

/* Contact section */

#contact {
  background-color: #1B180F;
}
/*
  .project_card{
    height: 10rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4470e9;
    grid-column: span 3;
    font-size: 1.2rem;
    padding: 3rem;
    box-shadow: 0.7rem 0.7rem 0rem rgba(36, 34, 34, 0.815);
    border: 4px solid black;
    gap: 2rem;
  }

  .project_card p{
    line-height: 2rem;
    display: none;
  }

  .project_card.active p{
    display: block;
  }

  .project_card.active{
    grid-column: 1 / span 6;
    grid-row: 1;
    order: 0;
    height: auto;
  }

  .project_card.is-inactive{
    grid-column: span 2;
  } */

  /* footer section */

  #contact{
    padding: 3rem;
  }

  .linkfoot{
    color: #fcd560;
    background-color: transparent;
    text-decoration: none;
  }

  /* Wave emoji animation */


  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  

  /* Profile  */
  
  .profile{
    display: flex;
    justify-content: center;
    gap: 6rem;
    background-color: #FFE629;
    background-repeat: no-repeat;
    background-position: center;
    color: #1B180F;
  }

  .text_section{
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile h1{
    position: absolute;
    top: 10vh;
    left: 0;
  }

  .profile h2{
    position: absolute;
    right: 0;
    bottom: 10vh;
  }

  .profile p{
    position: absolute;
    align-items: center;
    font-size: 5vh;
  }

  .socials-container{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    gap: 1rem;
    cursor: pointer;
    font-size: 50%;
  }

  .btn-cv{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30%;
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms ease;
    padding: 1rem;
    width: 5rem;
    border-radius: 8px;
    background: none;
    border: rgb(53, 53, 53) 0.1rem solid;
  }

  .btn-cv:hover {
    cursor: pointer;
    border-color: #be9a23;
    transform: scale(1.02);
  }

/*Veille*/

.veille{
  display: flex;
  justify-content: center;
}