@font-face {
    font-family: 'Arket Sans';
    src: url('ArketSans-Regular.woff2') format('woff2'),
        url('ArketSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

